@import url('https://fonts.googleapis.com/css2?family=Work+Sans');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');

$font: 'Work Sans';
$font2: "Josefin Sans";

//colours
$a: "#817e79";
$b: "#fbf3eb";
$c: "#e7c4b1";

ion-content {
  --ion-background-color: #F3F0EA;
}

#header {
  --background: #303031;
  #hTitle {
      font-family: $font;
      font-weight: 700;
      color: #F3F0EA;
  }    
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-50%);
  #goLogin {
      a {
        font-family: $font2;
        font-size: 15px;
        color: black;
      }
  }
  #title {
    font-family: $font;
    color: #303031;
    font-weight: 700;
    font-size: 50px;
  }
  #subtitle {
    font-family: $font2;
    font-size: 16px;
    color: #303031;
    margin-top: -20px;
  }
}

.list {
  font-family: $font2;
  font-weight: bold;
  display: table;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  border-color: white;
  --background: #f3f0ea;
  ion-input {
    --background: #F3F0EA;
  }
  ion-item {
    --background: #f3f0ea;
    --background-activated: #c1deba;
  }
  ion-label {
    color: #303031;
    --color-activated: #303031;
    margin-bottom: 7px;
    margin-top: 5px;
  }
}

.goProfile {
    font-family: $font2;
    font-weight: bold;
    display: table;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 2px;
    display: block;
    height: 60px;
    width: 300px;
    --background: #c1deba;
}
