<ion-header>
  <ion-toolbar mode="ios">
    <ion-title> World Health Organization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="page">
  <div id="container">
    <p id="title">Join us and<br>let's get vaccinated.</p>
    <p id="subtitle">To start, please login or sign up.<br>You can also continue as a guest.</p>
    <div class="buttons">
      <ion-button expand="block" class="login" fill="outline" href="/login">Login</ion-button>
      <ion-button expand="block" class="signup" href="/signup">Sign Up</ion-button>      
    </div>
    <div class="guest">
      <p id="goGuest"><a href="/landing">Or continue as a guest.</a></p>
    </div>
  </div>
</ion-content>
